:root {
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
}

body {
    background-color: var(--floral-white);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--dark);
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Merriweather', Georgia, serif;
}

h2 {
    color: var(--red);
    font-size: 27px;
}

header h1 {
    text-align: center;
    color: var(--dark);
    font-size: 40px;
    font-weight: 300;
}

nav {
    border: 1.5px solid var(--gold);
    margin: 0;
}

.menu {
    display: grid;
    justify-content: right;
    grid-auto-flow: column;
    grid-gap: 2rem;
    list-style-type: none;
    margin-right: 50px;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: var(--red);
    font-size: 20px;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.book-info1 ul, .book-info2 ul {
    text-align: right;
    list-style-type: none;
    padding: 10px 33px;
}

.book-info2 {
    grid-column: 1/2;
}

.form {
    grid-column: 3;
    grid-row: 1;
}

section img {
    display: block;
    margin: 0 auto;
}

.skiptocontent a {
    position: absolute;
    top: -40px; 
    left: 0;
    background-color: #f2d3b1;
    color: #2b4141;
    padding: 8px 16px;
    border: 2px solid #f19953;
    text-decoration: none;
    font-weight: bold;
  }
  
  .skiptocontent a:focus {
    top: 0; 
  }